[Record]
read_weight_path: 
write_weight_folder: /Disk3/siqi/PrimReg_outputs/MeshConvolution/train/weight_10/
write_tmp_folder: /Disk3/siqi/PrimReg_outputs/MeshConvolution/train/tmp_10/
logdir: /Disk3/siqi/PrimReg_outputs/MeshConvolution/train/log_10/



[Params] 
lr: 0.0001

batch: 6

w_pose: 1
w_laplace: 0 

augment_data: 0

weight_decay: 0.00000
lr_decay: 0.99
lr_decay_epoch_step: 1


start_epoch: 0
epoch: 201
evaluate_epoch: 2

perpoint_bias: 0


template_ply_fn: /Disk4/siqi/data/ellipsoids/template_primitives/ellipsoid-0.ply


point_num: 152

pcs_train: /Disk4/siqi/data/ellipsoids/vertices_npy/cat_13.npy

pcs_evaluate: /Disk4/siqi/data/ellipsoids/vertices_npy/cat_13.npy

pcs_test: /Disk4/siqi/data/ellipsoids/vertices_npy/cat_13.npy


connection_folder: /Disk4/siqi/data/ellipsoids/graphAE/ConnectionMatrices/

initial_connection_fn:/Disk4/siqi/data/ellipsoids/graphAE/ConnectionMatrices/_pool0.npy

connection_layer_lst: ["pool0", "pool1",  "pool2", "pool3"]

##residual only layer's channel number should be the same as the previous layer
channel_lst:          [32, 64,  128,   9]

weight_num_lst:       [17,17,17, 17]

## 0 for conv only, 1 for residual only, 0.X for (1-0.X)*conv+0.X*res 
residual_rate_lst:    [0.5, 0.5, 0.5, 0.5]

